@import "tailwindcss";

:root {
  --background: #f3f7ee;
  --foreground: #323f28;
  --primary: #56733d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1c2319;
    --foreground: #e0e7d7;
    --primary: #7a9b6a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Manrope", system-ui, sans-serif;
}